<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>158720808014-073r25mm1qn6li58jjaaivu8uv0sm7vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158720808014-073r25mm1qn6li58jjaaivu8uv0sm7vs</string>
	<key>API_KEY</key>
	<string>AIzaSyDQzC_hYgR5rxoz2vmmP3hy_iro3bVxzYY</string>
	<key>GCM_SENDER_ID</key>
	<string>158720808014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Develapp.HRMS</string>
	<key>PROJECT_ID</key>
	<string>hrms-eb8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-eb8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158720808014:ios:be6ee6b2d10d10ee</string>
	<key>DATABASE_URL</key>
	<string>https://hrms-eb8d8.firebaseio.com</string>
</dict>
</plist>